<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>User List</title>
  </head>
  <body>
    <h1>All Users</h1>
    <a href="/users/create">Create New User</a>
    <ul>
      <% users.forEach(user => { %>
      <li>
        <%= user.name %> - <%= user.email %> - <%= user.age %>
        <a href="/users/edit/<%= user._id %>">Edit</a>
        <a href="/users/delete/<%= user._id %>">Delete</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
